* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --background-color: rgb(157, 122, 122);
}

body {
  background-color: var(--background-color) !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#quote-box {
  width: 450px;
  padding: 30px;
  height: fit-content;
  text-align: center;
  background-color: #ffe5d9;
  border-radius: 15px;
}


#quote-text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.quote-left {
  position: relative;
  top: -5px;
}

.quote-right {
  position: relative;
  top: 10px;
}

#author-name {
  margin-bottom: 20px;
  text-align: right;
  padding-right: 20px;
}

#buttons-container {
  display: flex;
  justify-content: space-between
}


#new-quote {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 140px;
}


#tweet-quote {
  border-radius: 3px;
  margin-right: 20px;
}

#new-quote,
#tweet-quote {
  padding: 6px 10px;
  background-color: var(--background-color);
  cursor: pointer;
  color: #ffe5d9;
}

#new-quote:hover,
#tweet-quote:hover {
  opacity: 0.7;
}