* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --background-color: rgb(157, 122, 122);
}

body {
  background-color: var(--background-color) !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#quote-box {
  width: 80vw;
  max-width: 450px;
  padding: 30px;
  height: fit-content;
  text-align: center;
  background-color: #ffe5d9;
  border-radius: 15px;
}


#quote-text {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 20px;
}

.quote-left {
  position: relative;
  top: -5px;
}

.quote-right {
  position: relative;
  top: 5px;
}

#author-name {
  margin-bottom: 20px;
  text-align: right;
  padding-right: 20px;
  font-size: clamp(0.9rem, 2vw, 1.5rem);

}

#buttons-container {
  display: grid;
  justify-items: end;
}


#new-quote {
  grid-column: 3/3;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  width: fit-content;
}


#tweet-quote {
  grid-column: 5/5;
  border-radius: 3px;
  font-size: 16px;
}

#new-quote,
#tweet-quote {
  padding: 6px 10px;
  background-color: var(--background-color);
  cursor: pointer;
  color: #ffe5d9;
  font-size: clamp(1.1rem, 2vw, 2rem);
}

#new-quote:hover,
#tweet-quote:hover {
  opacity: 0.7;
}